/* General styles */
html {
    background-image: url(../images/site/bg.jpg);
}

body {
    margin: 0 10px;
    font-family: 'Open Sans';
    background-color: #ffffff;
}

header,
.two-part-section,
footer {
    padding: 10px;
}

h1,
h2,
.myAccountText,
footer {
    font-family: 'Wendy One';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #de2226
}

a:link {}

/* visited link */
a:visited {
    color: #990033
}

/* mouse over link */
a:hover {
    color: #de2226;
    text-decoration-line: underline;
}

/* selected link */
a:active {}

/* header styles */
.container {
    display: flex;
    align-items: center;
}

.siteIcon {
    max-width: 150px;
}

.accountIcon {
    max-width: 35px;
}

.account-icon>p {
    margin-top: -5px;
    text-align: center;
}

.center {
    flex-grow: 2;
}

.welcomeCookie {
    display: block;
    text-align: right;
    font-family: 'Wendy One';
}

/* nav styles */
#site-nav {
    background-color: #de2226;
    padding: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-container>li {
    font-size: .90rem;
}

.nav-container>li>a {
    padding: 2px;
    text-decoration: none;
    color: #ffffff;
}

/* welcome section */
.welcome-section>h1 {
    text-align: center;
    font-size: 3rem;
}

.img-main {
    position: relative;
    text-align: center;
    color: #990033;
}

.acme-rocket-description {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 50%;
    text-align: left;
}

.acme-rocket-description>ul>li {
    list-style: none;
}

#iwantit {
    max-width: 175px;
}

/* two-part-section */
.two-part-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* featured-recipe-section */
.recipe-images-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recipe-images-text>figure {
    text-align: center;
    margin: 10px auto;
}

.img-style {
    border: 1.5px solid black;
    margin: 0 2px;
    padding: 10px 5px;
}

.recipe-images-textn>figure>div>img {
    margin: 0 auto;
}

.recipe-images-text>figure>figcaption {
    background-color: #ffffff;
    padding: 10px;
}


/* footer text */
.footer-text {
    border-top: 3px solid #000000;
    text-align: center;
}

/* Login page */
fieldset {
    border: 0;
}

input {
    padding: 5px 10px;
}

.create-account {
    text-decoration: none;
    color: #de2226;
    font-size: .8rem
}

/* Prod mgmt page  */
.nc-btn,
.np-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: #000000 1px solid;
}

.nc-btn:hover,
.np-btn:hover {
    background-color: #de2226;
    color: white;
}

.little-right {
    margin-left: 15px;
}

#categoryList,
.productList {
    margin-left: 35px;
    max-width: 200px;
}

/* prod mgmt table */
table {
    border-collapse: collapse;
    margin-left: 15px;
}

table,
th,
td {
    border: 1px solid #f2f2f2;
}

th,
td {
    padding: 6px;
}

td>a {
    text-decoration: none;
    color: #000000;
}

thead {
    background-color: #de2226;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Basic form - new cat, new prod, and update*/
.basic {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}

.acme-login-heading {
    font-size: 30px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    color: black;
}

.span-label {
    display: block;
    font-size: 15px;
}

.basic label {
    display: block;
    margin: 0px;
}

.basic label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: black;
}

input,
textarea,
select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic textarea {
    padding: 5px 3px 3px 5px;
}

.basic select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}

.basic textarea {
    height: 100px;
}

.basic button,
.btn {
    background: #de2226;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

.regbtn {
    max-width: 100px;
    background: #de2226;
    color: white;
}

.image-delete {
    border: #de2226 solid;
    background: #de2226;
    color: white;
    padding: 5px;
}

.warning,
.notice {
    text-align: center;
    color: #de2226;
    font-size: 16px;
    font-weight: bold;
}

.success {
    text-align: center;
    color: green;
    font-size: 16px;
    font-weight: bold;
}

/* admin page css */
.account-icon>a {
    text-decoration: none;
    font-family: 'Wendy One';
}

.btn-con {
    margin-bottom: 15px;
}

a.a-btn {
    color: white;
}

.a-btn {
    background: #de2226;
    border: none;
    padding: 10px;
    margin-left: 38px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    cursor: pointer;
}

.update-account {
    text-decoration: none;
    color: #de2226;
    font-size: 1.1rem
}

/* Product list */
#prod-display {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */

}

span.price {
    display: flex;
}


/* testing section  */
/* for product detail view */

.product-detail-container {
    max-width: 1200px;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

/* Left Column */
.left-column img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}


/* Product Price */
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

/* Responsive */
@media (max-width: 940px) {
    .product-detail-container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}

.product-image {
    padding-bottom: 140%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.product-image-detail {
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-image-feat {
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#image-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;
}

#image-display li {
    padding: 10px;
}

#image-display li img {
    max-width: 100%;
    margin: 0 auto;
}

/* another view for product list */
.pl-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
}

.grid-product {
    position: relative;
    padding: 0;
    margin: 0 10px 20px 10px;
    width: calc(200px - 2px);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.grid-manufacturer-name {
    padding: 0 8px;
    margin: 0;
    background: #eee;
    height: 80px;
    display: flex;
    align-items: center;

}

.grid-product img {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.price {
    color: grey;
}

.small {
    font-size: .8em;
}

.further-details p {
    color: red;
}