@media only screen and (max-width: 330px) {
    .acme-rocket-description {
        font-size: 3px;
        line-height: 1px;
        width: 75%;
    }

    #iwantit {
        max-width: 30px;
    }
}

@media only screen and (max-width: 361px) {
    .nav-container>li>a {
        font-size: .80rem;
    }

    .acme-rocket-description {
        font-size: 12px;
        line-height: 20px;
    }

    #iwantit {
        max-width: 100px;
    }
}

@media only screen and (min-width: 325px) {
    .acme-rocket-description {
        font-size: 10px;
        line-height: 15px;
    }

    #iwantit {
        max-width: 75px;
    }
}

@media only screen and (min-width: 408px) {
    .acme-rocket-description {
        font-size: 12px;
        line-height: 20px;
    }

    #iwantit {
        max-width: 100px;
    }
}

@media only screen and (min-width: 536px) {
    .acme-rocket-description {
        font-size: 16px;
        line-height: 30px;
    }

    #iwantit {
        max-width: 125px;
    }
}

@media only screen and (min-width: 650px) {
    .two-part-section {
        display: flex;
        flex-direction: row-reverse;
    }

    body {
        margin: 0 60px;
    }

    .acme-rocket-description {
        font-size: 16px;
        line-height: 30px;
    }

    #iwantit {
        max-width: 150px;
    }
}

@media only screen and (min-width: 750px) {
    body {
        margin: 0 80px;
    }

    .acme-rocket-description {
        font-size: 20px;
        line-height: 30px;
    }

    #iwantit {
        max-width: 175px;
    }
}

@media only screen and (min-width: 900px) {
    .acme-rocket-description {
        font-size: 25px;
        line-height: 40px;
    }

    #iwantit {
        max-width: 200px;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        margin: 0 100px;
    }

    .acme-rocket-description {
        font-size: 25px;
        line-height: 50px;
    }

    #iwantit {
        max-width: 275px;
    }

}